blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
et_xmlfile==2.0.0
Flask==3.0.3
idna==3.8
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
numpy==2.0.2
openpyxl==3.1.5
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
requests-toolbelt==1.0.0
six==1.17.0
tzdata==2024.2
urllib3==2.2.2
wechat-work==0.0.3
Werkzeug==3.0.4
zipp==3.20.2
